$base-color: #2A3F54;
.x-action-hidden{
	display: none;
}
.x-menu{
	overflow: visible;!important;
	padding: 0px!important;
	box-shadow: 2px 2px 2px #ccc;
	border: 1px solid #dbdde8!important;
	/* background-color: transparent; */
}
.x-menu-default {
 border-style: solid; 
 border-width: 0px !important; 
 border-color: transparent; 
}
.x-menu-default {
 border-style: solid; 
 border-width: 0px !important; 
 border-color: transparent; 
}